<link rel="alternate" hreflang="sq" href="https://rms-support-letter.github.io/index-al.html" />
<link rel="alternate" hreflang="ar" href="https://rms-support-letter.github.io/index-ar.html" />
<link rel="alternate" hreflang="de" href="https://rms-support-letter.github.io/index-de.html" />
<link rel="alternate" hreflang="es" href="https://rms-support-letter.github.io/index-es.html" />
<link rel="alternate" hreflang="fa" href="https://rms-support-letter.github.io/index-fa.html" />
<link rel="alternate" hreflang="fi" href="https://rms-support-letter.github.io/index-fi.html" />
<link rel="alternate" hreflang="fr" href="https://rms-support-letter.github.io/index-fr.html" />
<link rel="alternate" hreflang="gl" href="https://rms-support-letter.github.io/index-gal.html" />
<link rel="alternate" hreflang="el" href="https://rms-support-letter.github.io/index-gr.html" />
<link rel="alternate" hreflang="id" href="https://rms-support-letter.github.io/index-id.html" />
<link rel="alternate" hreflang="it" href="https://rms-support-letter.github.io/index-it.html" />
<link rel="alternate" hreflang="jp" href="https://rms-support-letter.github.io/index-jp.html" />
<link rel="alternate" hreflang="ko" href="https://rms-support-letter.github.io/index-ko.html" />
<link rel="alternate" hreflang="lv" href="https://rms-support-letter.github.io/index-lv.html" />
<link rel="alternate" hreflang="nl" href="https://rms-support-letter.github.io/index-nl.html" />
<link rel="alternate" hreflang="pl" href="https://rms-support-letter.github.io/index-pl.html" />
<link rel="alternate" hreflang="pt-BR" href="https://rms-support-letter.github.io/index-pt_br.html" />
<link rel="alternate" hreflang="pt-PT" href="https://rms-support-letter.github.io/index-pt_pt.html" />
<link rel="alternate" hreflang="ro" href="https://rms-support-letter.github.io/index-ro.html" />
<link rel="alternate" hreflang="sr" href="https://rms-support-letter.github.io/index-rs.html" />
<link rel="alternate" hreflang="ru" href="https://rms-support-letter.github.io/index-ru.html" />
<link rel="alternate" hreflang="sv" href="https://rms-support-letter.github.io/index-se.html" />
<link rel="alternate" hreflang="ta" href="https://rms-support-letter.github.io/index-ta.html" />
<link rel="alternate" hreflang="tl" href="https://rms-support-letter.github.io/index-tl.html" />
<link rel="alternate" hreflang="tr" href="https://rms-support-letter.github.io/index-tr.html" />
<link rel="alternate" hreflang="uk" href="https://rms-support-letter.github.io/index-ua.html" />
<link rel="alternate" hreflang="vi" href="https://rms-support-letter.github.io/index-vi.html" />
<link rel="alternate" hreflang="zh-Hans" href="https://rms-support-letter.github.io/index-zh-cn.html" />
<link rel="alternate" hreflang="zh-Hant" href="https://rms-support-letter.github.io/index-zh-tw.html" />
<link rel="alternate" hreflang="en" href="https://rms-support-letter.github.io/" />
<link rel="alternate" hreflang="x-default" href="https://rms-support-letter.github.io/" />
