<div class="translations">
  <p>Translations:</p>
  <a class="translation" href='/'>🇺🇸</a>
  <a class="translation" href='/index_vi.html'>🇻🇳</a>
  <a class="translation" href='/index_zh_cn.html'>🇨🇳</a>
  <a class="translation" href='/index_tr.html'>🇹🇷</a>
  <a class="translation" href='/index_ro.html'>🇷🇴</a>
  <a class="translation" href='/index_es.html'>🇪🇸</a>
  <a class="translation" href='/index_pt_br.html'>🇧🇷</a>
  <a class="translation" href='/index_de.html'>🇩🇪</a>
  <a class="translation" href='/index_fr.html'>🇫🇷</a>
  <a class="translation" href='/index_pl.html'>🇵🇱</a>
  <a class="translation" href='/index_it.html'>🇮🇹</a>
  <a class="translation" href='/index_ko.html'>🇰🇷</a>
  <a class="translation" href='/index_ru.html'>🇷🇺</a>
  <a class="translation" href='/index_fa.html'>🇮🇷</a>
  <a class="translation" href='/index_ua.html'>🇺🇦</a>
  <a class="translation" href='/index_id.html'>🇮🇩</a>
  <a class="translation" href="/index_rs.html">🇷🇸</a>
  <a class="translation" href="/index_tl.html">🇵🇭</a>
</div>