<ul>
    {% for trans in site.data.translations.translations %}
    <li>{{ trans.name }}</li>
    {% endfor %}
</ul>

<!-- <div class="translations">
    Translations:</p>
    <ul class="dropdown" tabindex="1">
      <li class="active"><span class="translation">Select language</span></li>
      <li><a class="translation" href='/'><span class="lang-name">English</span>🇺🇸</a></li>
      <li><a class="translation" href='/index_zh_cn.html'><span class="lang-name">中文</span>🇨🇳</a></li>
      <li><a class="translation" href='/index_tr.html'><span class="lang-name">Türkçe</span>🇹🇷</a></li>
      <li><a class="translation" href='/index_ro.html'><span class="lang-name">Română</span>🇷🇴</a></li>
      <li><a class="translation" href='/index_es.html'><span class="lang-name">Español</span>🇪🇸</a></li>
      <li><a class="translation" href='/index_pt_br.html'><span class="lang-name">Português</span>🇧🇷</a></li>
      <li><a class="translation" href='/index_de.html'><span class="lang-name">Deutsch</span>🇩🇪</a></li>
      <li><a class="translation" href='/index_fr.html'><span class="lang-name">Français</span>🇫🇷</a></li>
      <li><a class="translation" href='/index_pl.html'><span class="lang-name">Polski</span>🇵🇱</a></li>
      <li><a class="translation" href='/index_it.html'><span class="lang-name">Italiano</span>🇮🇹</a></li>
      <li><a class="translation" href='/index_ko.html'><span class="lang-name">日本語</span>🇰🇷</a></li>
      <li><a class="translation" href='/index_ru.html'><span class="lang-name">Русский</span>🇷🇺</a></li>
      <li><a class="translation" href='/index_fa.html'><span class="lang-name">فارسی</span>🇮🇷</a></li>
      <li><a class="translation" href='/index_ua.html'><span class="lang-name">Українська</span>🇺🇦</a></li>
      <li><a class="translation" href='/index_id.html'><span class="lang-name">Bahasa Indonesia</span>🇮🇩</a></li>
      <li><a class="translation" href="/index_rs.html"><span class="lang-name">Српски / srpski</span>🇷🇸</a></li>
    </ul>
  </div>
   -->
