@font-face {
	font-family: "Noto Color Emoji";
	src: url("/assets/NotoColorEmoji.ttf") format("truetype");
}

.translations {
	text-align: end;
}

.translation {
	font-family: "Noto Color Emoji", sans-serif;
	font-size: 2em;
}