---
layout: home
---

<p>
    <b>2021-03-23</b>
</p>

<p>
    Richard M. Stallman, frequently known as RMS,
    has been a driving force in the free software
    movement for decades, with contributions including
    the GNU operating system and Emacs.
</p>

<p>
    Recently, there have been vile online attacks 
    looking to remove him from the FSF board of directors 
    for expressing his personal opinions. We have watched 
    this happen before in an organized fashion with other 
    prominent free software activists and programmers. 
    We will not stand idly this time, when an icon 
    of this community is attacked.
</p>

<p>
    FSF is an autonomous body that is capable of treating 
    its members in a fair, unbiased fashion, and should not 
    give in to external social pressures. We urge the 
    FSF to consider the arguments against RMS objectively 
    and to truly understand the meaning of his words and actions.
</p>

<p>
    Historically, RMS has been expressing his views in ways 
    that upset many people. He is usually more focused on the 
    philosophical underpinnings, and pursuing the objective 
    truth and linguistic purism, while underemphasising people's 
    feelings on matters he's commenting on. This makes his arguments 
    vulnerable to misunderstanding and misrepresentation, something 
    which we feel is happening in the open letter calling for his removal. 
    His words need to be interpreted in this context and 
    taking into account that more often than not, 
    he is not looking to put things diplomatically.
</p>

<p>
    Regardless, Stallman's opinions on the matters 
    he is being persecuted over are not relevant to 
    his ability to lead a community such as the FSF. 
    Furthermore, he is entitled to his opinions just 
    as much as anyone else. Members and supporters do not 
    have to agree with his opinions, but should respect 
    his right to freedom of thought and speech.
</p>

<p>
<b>To the FSF:</b>
</p>

<p>
    Removing RMS will hurt FSF's image and will deal 
    a significant blow to the momentum of the free software movement.
    We urge you to consider your actions carefully,
    as what you will decide will have a serious impact
    on the future of the software industry.
</p>

<p>
    <b>
        To the ambush mob who is ganging up on Richard Stallman over 
        reasonable arguments in debate and various opinions and beliefs
        voiced over decades as a public figure:
    </b>
</p>

<p>
    You have no part in choosing the leadership of any communities. Especially not via another mob attack which does not remotely resemble a fairly conducted debate as exemplified by better people such as Richard Stallman.
</p>

<p>
    To sign, please <a href="https://github.com/rms-support-letter/rms-support-letter.github.io/pulls">submit a pull request</a>.
</p>

<div>
    {{ content }}
</div>
