---
layout: home
---

{% include css.html %}

<div class="translations">
  <!-- Emoji codes: https://github.com/ikatyang/emoji-cheat-sheet/blob/master/README.md#country-flag -->
  <p>Translations:</p>
  <a class="translation" href='/'>:us:</a>
  <a class="translation" href='/index_vi.html'>:vietnam:</a>
  <a class="translation" href='/index_zh_cn.html'>:cn:</a>
  <a class="translation" href='/index_tr.html'>:tr:</a>
  <a class="translation" href='/index_ro.html'>:romania:</a>
  <a class="translation" href='/index_es.html'>:es:</a>
  <a class="translation" href='/index_pt_br.html'>:brazil:</a>
  <a class="translation" href='/index_de.html'>:de:</a>
  <a class="translation" href='/index_fr.html'>:fr:</a>
  <a class="translation" href='/index_pl.html'>:poland:</a>
  <a class="translation" href='/index_it.html'>:it:</a>
  <a class="translation" href='/index_ko.html'>:kr:</a>
  <a class="translation" href='/index_ru.html'>:ru:</a>
  <a class="translation" href='/index_fa.html'>:iran:</a>
  <a class="translation" href='/index_ua.html'>:ukraine:</a>
  <a class="translation" href='/index_id.html'>:indonesia:</a>
  <a class="translation" href="/index_rs.html">:serbia:</a>
  <a class="translation" href="/index_tl.html">:philippines:</a>
</div>

<div style="direction: rtl">
{{ content }}
</div>

<p>
  <b>
    Signed:
  </b>
</p>

<ol>
  {% capture signs %}
    {% for sign_hash in site.data.signed %}
      {% assign signature = sign_hash[1] %}
      |{{signature.name | escape }}#{{signature.link | escape }}
    {% endfor %}
  {% endcapture %}
  {% assign sorted_signs = signs | split: '|' | sort %}
  {% for signature in sorted_signs %}
    {% assign sign_items = signature | split: '#' %}
    {% if sign_items[0] and sign_items[1] %}
    <li><a href="{{ sign_items[1] | strip }}">{{ sign_items[0] | strip }}</a></li>
    {% endif %}
  {% endfor %}
</ol>
